version: 2.1

jobs:
    run_test:
        parameters:
            target:
                type: string
                default: "clean"
            pytorch_download_link:
                type: string
                default: https://download.pytorch.org/whl/test/cu101/torch_test.html
            resource_class:
                type: string
                default: gpu.medium
            image:
                type: string
                default: ubuntu-1604-cuda-10.1:201909-23
        machine:
            image: "<< parameters.image >>"
            resource_class: "<< parameters.resource_class >>"
        environment:
            - DOCKER_BUILDKIT=1
            - BUILD_PROGRESS=--progress=plain
            - PYTORCH_DOWNLOAD_LINK=<< parameters.pytorch_download_link >>
        steps:
            - checkout
            - run:
                name: Running target
                command: make "<< parameters.target >>"
            - store_test_results:
                path: output/
            - store_artifacts:
                path: logs/

    run_compat_test:
        parameters:
            target:
                type: string
                default: "clean"
            pytorch_channel:
                type: string
                default: pytorch-test
            pytorch_ref:
                type: string
                default: master
            resource_class:
                type: string
                default: large
            image:
                type: string
                default: ubuntu-1604:201903-01
        machine:
            image: "<< parameters.image >>"
            resource_class: "<< parameters.resource_class >>"
        environment:
            - DOCKER_BUILDKIT=1
            - BUILD_PROGRESS=--progress=plain
            - PYTORCH_CHANNEL=<< parameters.pytorch_channel >>
            - PYTORCH_REF=<< parameters.pytorch_ref >>
        steps:
            - checkout
            - run:
                name: Running target
                command: make -C compat-tests "<< parameters.target >>"
            - store_test_results:
                path: test-reports

workflows:
    run:
        jobs:
            # These are potentially expensive to run so let's require manual approval to run
            - hold:
                type: approval
            - run_test:
                matrix:
                    parameters:
                        target: ["pyro", "detectron2", "transformers", "fairseq"]
                requires:
                    - hold
            - run_compat_test:
                matrix:
                    parameters:
                        target: ["ubuntu-16.04", "ubuntu-18.04", "centos-7", "archlinux"]
                        # Switch out to the latest RC version
                        pytorch_ref: ["v1.6.0-rc7"]
                requires:
                    - hold
